body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}



/* Header and Navigation */
header {
    background-color: #003B6D; /* Header background color */
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white; /* Link color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; 
}

/* Search Bar */
.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #ffd700; 
    color: #333; /* Text color */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ffb300; 
}

/* Consultation Link */
.consultation-navbar {
    margin-left: auto;
}

.consultations {
    background-color: #4a90e2; 
    color: white; /* Link color */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.consultations:hover {
    background-color: #3b7abf; 
}

/* Main Section */
main {
    padding: 20px;
}

h1 {
    color: #4a90e2; /* Title color */
}

h2 {
    margin-top: 20px;
}

.pictures-homepage {
    margin: 0 auto;
    text-align: center;
    padding: 2px;
  }
  
  strong {
    font-size: 14px;
  }
  
  .pictures-homepage a {
    width: 17%;
  }

  .learnmore-info {
    display: inline-block;
    width: 29%;
    text-align: center;
    background-color: #4a90e2;
    padding: 10px 0 10px 0;
  }
  
  .learnmore-info a {
    text-decoration: none;
    color: black;
  }

/* Footer */
footer {
    text-align: center;
    background-color: #003B6D; 
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}



